{% extends 'base.html.twig' %}

{% block title %}Edit Asignaturas{% endblock %}

{% block body %}
    <h1>Edit Asignaturas</h1>

    {{ include('asignaturas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('asignaturas_index') }}">back to list</a>

    {{ include('asignaturas/_delete_form.html.twig') }}
{% endblock %}
